// Paleta de Colores
$primaryColor : #b21649;
$secondColor: #d21452;
$threeColor: #f1ef12;


// Colors others
$color-font: #fff;
$color-font-second: red;
$color-line: #695b5b;
$button-charge: #fff;
$color-toogle: rgba(0, 0, 0, 0.129);
$hover: rgba(233, 192, 192, 0.729);
$cancelar: rgba(210, 20, 82, 0.09);
$btnKeyboard: #e648ea78;
$btnStandart: #00000029;