@import "constantes";
@import "reset";
body {
  background: #e648ea78;
}

// Contanainer 
.container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background: $secondColor;
  height: 45rem;
  max-width: 400px;
  overflow-x: hidden;
  margin: auto;
  .section_operations {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 100%;
    > input {
      width: 80%;
      margin: 0px;
      background: $primaryColor;
      border: none;
      height: 40px;
    }
    .btn {
      background: $threeColor;
      border: none;
      height: 40px;
      width: 12%;
      i::before {
        background: $threeColor;
      }
    }
  }
  .section_numbers,
  .section_total {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    p {
      color: $color-font;
      font-weight: bold;
      font-size: 16px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
  }
  .section_numbers {
    // background: red;
    margin-bottom: 20px;
    .amount {
      width: 10%; // background: aqua;
      padding-left: 30px;
    }
    .products {
      width: 60%; //background: darkgreen;
    }
    .prices {
      width: 20%; //background: blue;
      padding-right: 20px;
    }
  }
  hr {
    background-color: $color-line;
    height: 1px;
    border: none;
    width: 90%;
    margin: auto 15px 5px;
  }
  .section_total {
    margin-top: 20px;
    .text {
      width: 20%;
      margin-left: -20px;
      text-transform: uppercase;
    }
    .totalAmount {
      width: 55%;
      text-align: right;
    }
  }
  div.boton {
    width: 100%;
    margin-top: 20px;
    button.btn {
      width: 90%;
      height: 50px;
      margin: auto 2% auto 2%;
      border: none;
    }
    .btn-cobrar {
      text-transform: uppercase;
      font-weight: bold;
      color: $secondColor;
      background: $button-cobrar;
      font-size: 16px;
      &:hover {
        background: $hover;
      }
    }
  }
  .toogle {
    width: 100%;
    background: $color-toogle;
    height: auto;
    display: block;
    text-align: center;
    margin-top: 20px;
    span>i {
      color: white;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 15px;
    }
    .combo,
    .Keyboard {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
    }
    .combo,
    .Keyboard {
      .c-1,
      .c-2,
      .c-3,
      .c-4 {
        margin-top: 10px;
        button {
          margin-bottom: 5px;
          border: none;
          color: $color-font;
          font-weight: bold;
          text-transform: uppercase;
          &:hover {
            background-color: $hover;
          }
        }
      }
    }
    .combo {
      .c-1,
      .c-2,
      .c-3 {
        width: 30%;
        button {
          background: #00000029;
        }
      }
      button {
        width: 90%;
        height: 90px;
      }
      .c-3>button:nth-child(2n) {
        background: $threeColor;
        height: 185px;
        i {
          margin-bottom: 50px;
        }
        p {
          color: red;
        }
      }
      .c-1>button:nth-child(3n) {
        margin-bottom: 20px;
      }
    }
    .Keyboard {
      .c-1,
      .c-2,
      .c-3,
      .c-4 {
        width: 25%;
        button {
          background: #e648ea78;
        }
      }
      .c-1 {
        margin-left: 6px;
      }
      .c-1>button:nth-child(4n) {
        background: $cancelar;
        margin-bottom: 20px;
      }
      .c-1>button>i {
        font-size: 20px;
      }
      .c-4 {
        margin-right: 10px;
        button {
          background: #00000029;
        }
      }
      .c-4>button:nth-child(4n) {
        width: 180%;
        margin-left: -87px;
        background: $threeColor;
        p {
          color: red;
          width: 50%;
          display: inline-block;
          margin-right: -10px;
        }
        i {
          width: 50%;
          font-size: 20px;
        }
      }
      button {
        width: 80%;
        height: 90px;
      }
    }
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block;
  }
  .show_null {}
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .container{
    height: 42rem;
    margin-top:5rem;
  }
  
}
@media screen and (min-width: 375px) and (max-width: 667px){
  .container{
    height: 42rem;
  }
  .container .section_numbers {
    margin-bottom: 2rem;
  }
  .container .section_total {
    margin-top: 0px;
    position: relative;
    top: -0.2rem;
  }
  .container .section_operations {
    margin-bottom: 0%;
  }
  .container .boton {
    margin-top: 36px;
    margin-bottom: -14px;
  }
}