@import 'constantes';
@import 'normalize';
body {
  background: #e648ea78; // Contanainer
  .container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background: $secondColor;
    height: 100vh;
    max-width: 30rem;
    overflow-x: hidden;
    margin: auto;
    .section_operations {
      margin-bottom: 2%;
      width: 100%;
      >input {
        width: 84%;
        background: $primaryColor;
        border: none;
        height: 50px;
        color: white;
      }
      .btn {
        background: $threeColor;
        border: none;
        height: 50px;
        width: 14%;
        i::before {
          background: $threeColor;
        }
      }
    }
    .section_numbers {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      p {
        color: $threeColor;
        font-weight: bold;
        font-size: 1em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    }
    .section_numbers {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 4fr 1fr;
      .amount {
        width: 10%;
        padding-left: 20px;
      }
      .products {
        width: 60%;
      }
      .prices {
        width: 100%;
        padding-right: 1.25em;
      }
    }
    hr {
      background-color: $color-line;
      height: 1px;
      border: none;
      width: 90%;
      margin: auto 23px 5px;
    }
    .section_total {
      margin-top: 1px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      color: $threeColor;
      font-weight: bold;
      .text {
        margin-left: 18px;
        text-transform: uppercase;
      }
      .totalAmount {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 60% 40%;
        >p {
          grid-column: 2 / 2;
          margin-left: 1em;
        }
      }
    }
    div.buttonCharge {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      > button.btn-cobrar{
        width: 21rem;
        height: 3.12em;
        margin: auto 2% auto 2%;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        color: $secondColor;
        background: $button-cobrar;
        font-size: 1em;
        grid-column: 2 / 3;
        &:hover {
          background: $hover;
        }
      }
    }
    .toogle {
      width: 100%;
      background: $color-toogle;
      height: auto;
      display: block;
      text-align: center;
      margin-top: 1em;
      span>i {
        color: white;
        font-size: 1em;
        padding-top: 10px;
        padding-bottom: 15px;
      }
      .Keyboard {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
      }
      .combo{
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 1fr 1fr 1fr;
        div{
          background: #00000029;
          color: $color-font;
          font-weight: bold;
          text-transform: uppercase;
        }
        div.pedido{
          grid-row: 2/4;
          grid-column: 3/3;
        }
      }
      .combo,
      .Keyboard {
        .column-1,
        .column-2,
        .column-3,
        .column-4 {
          margin-top: 10px;
          button {
            margin-bottom: 5px;
            border: none;
            color: $color-font;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
              background-color: $hover;
            }
          }
        }
      }
      .combo {
        .column-1,
        .column-2,
        .column-3 {
          button {
            background: #00000029;
          }
        }
        button {
          width: 90%;
          height: 90px;
        }
        .column-3>button:nth-child(2n) {
          background: $threeColor;
          height: 185px;
          i {
            margin-bottom: 50px;
          }
          p {
            color: red;
          }
        }
        .column-1>button:nth-child(3n) {
          margin-bottom: 1em;
        }
      }
      .Keyboard {
        .column-1,
        .column-2,
        .column-3,
        .column-4 {
          width: 25%;
          button {
            background: #e648ea78;
          }
        }
        .column-1 {
          margin-left: 6px;
        }
        .column-1>button:nth-child(4n) {
          background: $cancelar;
          margin-bottom: 1em;
        }
        .column-1>button>i {
          font-size: 1em;
        }
        .column-4 {
          margin-right: 10px;
          button {
            background: #00000029;
          }
        }
        .column-4>button:nth-child(4n) {
          width: 180%;
          margin-left: -87px;
          background: $threeColor;
          p {
            color: red;
            width: 50%;
            display: inline-block;
            margin-right: -10px;
          }
          i {
            width: 50%;
            font-size: 1em;
          }
        }
        button {
          width: 80%;
          height: 90px;
        }
      }
    }
    .hide {
      display: none !important; // important para que el comportamiento de display sea obligatoriamente none(oculto)
    }
    .show {
      display: block;
    }
    .show_null {
      display: initial;
    }
  }
}

@media (min-width: 1025px) {
  .container {
    height: 636px;
    margin-top: 1px;
    .section_operations {
      >input {
        width: 85%;
      }
    }
    hr {
      margin: auto 15px 2rem;
    }
    .section_total {
      margin-top: -1.87em;
    }
    /* div.buttonCharge button.btn {
      width: 26rem;
      margin: auto 2em auto 5%;
      height: 3rem;
      position: absolute;
    } */
    .toogle .Keyboard .column-1>button:nth-child(4n) {
      margin-bottom: 0;
    }
  }
}

/* P9 */

@media screen and (min-width:286px) and (max-width: 584px) {
  body{
     .container {
      margin-top: 0;
      .section_operations {
        >input {
          width: 80%;
        }
        >.btn {
          width: 52px;
        }
      }
      div.buttonCharge > button.btn-cobrar {
        width: 17rem;
      }
      .section_total .totalAmount > p {
        margin-left: 9px;
      }
    }
  }
}

/* S5 */

@media screen and (min-width: 360px) and (max-width: 640px) {
  .container {
    height: 100vh;
    margin-top: 0;
    .section_numbers {
      margin-bottom: 2rem;
    }
    .section_total {
      margin-top: 12px;
      position: relative;
      top: -0.2rem;
      margin-left: 7px;
    }
    .buttonCharge {
      .btn-cobrar{
        margin: auto 2% auto 3%;
      }
    }
    .toogle .Keyboard .column-1>button:nth-child(4n) {
      margin-bottom: 5px;
    }
    div.buttonCharge > button.btn-cobrar {
      width: 21em;
      margin: auto 2% auto 4%;
      grid-column: 1 / 4;
    }
  }
}

/* iphone 6/7/8 */

@media screen and (min-width: 375px) and (max-width: 667px) {
  body {
    background: $secondColor;
    .container {
      width: 375px;
      height: 100vh;
      .section_operations {
        >input {
          width: 84%;
        }
        >.btn {
          width: 55px;
        }
      }
    }
  }
}

/* Iphone 6/7/8 Plus */

@media screen and (min-width: 414px) and (max-width: 736px) {
  body {
    background: $secondColor;
    .container {
      width: 414px !important;
      height: 100vh;
      .section_operations {
        >input {
          width: 84%;
        }
        >.btn {
          width: 55px;
        }
      }
    }
  }
}

/* Pixel 2 */

@media screen and (min-width:411px) and (max-width: 731px) {
  body {
    .container {
      width: 411px;
      .section_operations {
        >input {
          width: 85vw;
        }
        >.btn {
          width: 57px;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .container {
    div.buttonCharge {
      margin-top: 0;
      button.btn {
        width: 26rem;
      }
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .container div.buttonCharge button.btn {
    width: 24rem;
  }
}