/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

body {
  background: #e648ea78; }
  body .container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background: #d21452;
    height: 100vh;
    max-width: 30rem;
    overflow-x: hidden;
    margin: auto; }
    body .container .section_operations {
      margin-bottom: 2%;
      width: 100%; }
      body .container .section_operations > input {
        width: 84%;
        background: #b21649;
        border: none;
        height: 50px;
        color: white; }
      body .container .section_operations .btn {
        background: #f1ef12;
        border: none;
        height: 50px;
        width: 14%; }
        body .container .section_operations .btn i::before {
          background: #f1ef12; }
    body .container .section_numbers,
    body .container .section_total {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around; }
      body .container .section_numbers p,
      body .container .section_total p {
        color: #f1ef12;
        font-weight: bold;
        font-size: 1em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
    body .container .section_numbers {
      margin-bottom: 1.25em; }
      body .container .section_numbers .amount {
        width: 10%;
        padding-left: 1.87em; }
      body .container .section_numbers .products {
        width: 60%; }
      body .container .section_numbers .prices {
        width: 20%;
        padding-right: 1.25em; }
    body .container hr {
      background-color: #695b5b;
      height: 1px;
      border: none;
      width: 90%;
      margin: auto 15px 5px; }
    body .container .section_total {
      margin-top: 1em; }
      body .container .section_total .text {
        width: 20%;
        margin-left: -1em;
        text-transform: uppercase; }
      body .container .section_total .totalAmount {
        width: 55%;
        text-align: right; }
    body .container div.buttonCharge {
      width: 100%;
      margin-top: 1.62em; }
      body .container div.buttonCharge button.btn {
        width: 27rem;
        height: 3.12em;
        margin: auto 2% auto 5%;
        border: none; }
      body .container div.buttonCharge .btn-cobrar {
        text-transform: uppercase;
        font-weight: bold;
        color: #d21452;
        background: #fff;
        font-size: 1em; }
        body .container div.buttonCharge .btn-cobrar:hover {
          background: rgba(233, 192, 192, 0.729); }
    body .container .toogle {
      width: 100%;
      background: rgba(0, 0, 0, 0.129);
      height: auto;
      display: block;
      text-align: center;
      margin-top: 1em; }
      body .container .toogle span > i {
        color: white;
        font-size: 1em;
        padding-top: 10px;
        padding-bottom: 15px; }
      body .container .toogle .combo,
      body .container .toogle .Keyboard {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around; }
      body .container .toogle .combo .column-1,
      body .container .toogle .combo .column-2,
      body .container .toogle .combo .column-3,
      body .container .toogle .combo .column-4,
      body .container .toogle .Keyboard .column-1,
      body .container .toogle .Keyboard .column-2,
      body .container .toogle .Keyboard .column-3,
      body .container .toogle .Keyboard .column-4 {
        margin-top: 10px; }
        body .container .toogle .combo .column-1 button,
        body .container .toogle .combo .column-2 button,
        body .container .toogle .combo .column-3 button,
        body .container .toogle .combo .column-4 button,
        body .container .toogle .Keyboard .column-1 button,
        body .container .toogle .Keyboard .column-2 button,
        body .container .toogle .Keyboard .column-3 button,
        body .container .toogle .Keyboard .column-4 button {
          margin-bottom: 5px;
          border: none;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase; }
          body .container .toogle .combo .column-1 button:hover,
          body .container .toogle .combo .column-2 button:hover,
          body .container .toogle .combo .column-3 button:hover,
          body .container .toogle .combo .column-4 button:hover,
          body .container .toogle .Keyboard .column-1 button:hover,
          body .container .toogle .Keyboard .column-2 button:hover,
          body .container .toogle .Keyboard .column-3 button:hover,
          body .container .toogle .Keyboard .column-4 button:hover {
            background-color: rgba(233, 192, 192, 0.729); }
      body .container .toogle .combo .column-1,
      body .container .toogle .combo .column-2,
      body .container .toogle .combo .column-3 {
        width: 30%; }
        body .container .toogle .combo .column-1 button,
        body .container .toogle .combo .column-2 button,
        body .container .toogle .combo .column-3 button {
          background: #00000029; }
      body .container .toogle .combo button {
        width: 90%;
        height: 90px; }
      body .container .toogle .combo .column-3 > button:nth-child(2n) {
        background: #f1ef12;
        height: 185px; }
        body .container .toogle .combo .column-3 > button:nth-child(2n) i {
          margin-bottom: 50px; }
        body .container .toogle .combo .column-3 > button:nth-child(2n) p {
          color: red; }
      body .container .toogle .combo .column-1 > button:nth-child(3n) {
        margin-bottom: 1em; }
      body .container .toogle .Keyboard .column-1,
      body .container .toogle .Keyboard .column-2,
      body .container .toogle .Keyboard .column-3,
      body .container .toogle .Keyboard .column-4 {
        width: 25%; }
        body .container .toogle .Keyboard .column-1 button,
        body .container .toogle .Keyboard .column-2 button,
        body .container .toogle .Keyboard .column-3 button,
        body .container .toogle .Keyboard .column-4 button {
          background: #e648ea78; }
      body .container .toogle .Keyboard .column-1 {
        margin-left: 6px; }
      body .container .toogle .Keyboard .column-1 > button:nth-child(4n) {
        background: rgba(210, 20, 82, 0.09);
        margin-bottom: 1em; }
      body .container .toogle .Keyboard .column-1 > button > i {
        font-size: 1em; }
      body .container .toogle .Keyboard .column-4 {
        margin-right: 10px; }
        body .container .toogle .Keyboard .column-4 button {
          background: #00000029; }
      body .container .toogle .Keyboard .column-4 > button:nth-child(4n) {
        width: 180%;
        margin-left: -87px;
        background: #f1ef12; }
        body .container .toogle .Keyboard .column-4 > button:nth-child(4n) p {
          color: red;
          width: 50%;
          display: inline-block;
          margin-right: -10px; }
        body .container .toogle .Keyboard .column-4 > button:nth-child(4n) i {
          width: 50%;
          font-size: 1em; }
      body .container .toogle .Keyboard button {
        width: 80%;
        height: 90px; }
    body .container .hide {
      display: none !important; }
    body .container .show {
      display: block; }
    body .container .show_null {
      display: initial; }

@media (min-width: 1025px) {
  .container {
    height: 636px;
    margin-top: 1px; }
    .container .section_operations > input {
      width: 85%; }
    .container hr {
      margin: auto 15px 2rem; }
    .container .section_total {
      margin-top: -1.87em; }
    .container div.buttonCharge button.btn {
      width: 22rem !important;
      height: 3rem;
      margin: -2em 2em auto 4em;
      position: absolute; }
    .container .toogle .Keyboard .column-1 > button:nth-child(4n) {
      margin-bottom: 0; } }

/* P9 */
@media screen and (min-width: 286px) and (max-width: 584px) {
  .container {
    max-width: 286px;
    margin-top: 0;
    height: 584px; }
    .container .section_operations > input {
      width: 80%; }
    .container .section_operations > .btn {
      width: 52px; } }

/* S5 */
@media screen and (min-width: 360px) and (max-width: 640px) {
  .container {
    max-width: 37rem;
    height: 100vh;
    margin-top: 0; }
    .container .section_numbers {
      margin-bottom: 2rem; }
    .container .section_total {
      margin-top: 12px;
      position: relative;
      top: -0.2rem;
      margin-left: 7px; }
    .container .buttonCharge {
      margin-top: 36px;
      margin-bottom: -14px; }
    .container .toogle .Keyboard .column-1 > button:nth-child(4n) {
      margin-bottom: 5px; }
    .container div.buttonCharge button.btn {
      width: 21em;
      margin: auto 2% auto 5%; } }

/* iphone 6/7/8 */
@media screen and (min-width: 375px) and (max-width: 667px) {
  body {
    background: #d21452; }
    body .container {
      width: 375px;
      height: 100vh; }
      body .container .section_operations > input {
        width: 84%; }
      body .container .section_operations > .btn {
        width: 55px; } }

/* Iphone 6/7/8 Plus */
@media screen and (min-width: 414px) and (max-width: 736px) {
  body {
    background: #d21452; }
    body .container {
      width: 414px !important;
      height: 100vh; }
      body .container .section_operations > input {
        width: 84%; }
      body .container .section_operations > .btn {
        width: 55px; } }

/* Pixel 2 */
@media screen and (min-width: 411px) and (max-width: 731px) {
  body .container {
    width: 411px; }
    body .container .section_operations > input {
      width: 85vw; }
    body .container .section_operations > .btn {
      width: 57px; } }

@media (min-width: 500px) {
  .container div.buttonCharge {
    margin-top: 0;
    margin-bottom: 2em; }
    .container div.buttonCharge button.btn {
      width: 26rem;
      margin: auto 2em auto 2em; } }

@media screen and (min-width: 400px) and (max-width: 500px) {
  .container div.buttonCharge button.btn {
    width: 24rem; } }
