// Paleta de Colores
$primaryColor : #b21649;
$secondColor: #d21452;
$threeColor: #f1ef12;


// Colors others
$color-font: #fff;
$color-line: #695b5b;
$button-cobrar: #fff;
$color-toogle: rgba(0, 0, 0, 0.129);