@import "constantes";
@import "reset";
// Contanainer 
.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background: $secondColor;
  #section_operaciones {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 100%;
    input {
      width: 85%;
      margin: 0px;
      background: $primaryColor;
      border: none;
      height: 40px;
    }
    .btn {
      background: $threeColor;
      border: none;
      height: 40px;
      width:12%;
      i::before {
        background: yellow;
      }
    }
  }
}