@import "constantes";
@import "reset";
// Contanainer 
.container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background: $secondColor;
  #section_operaciones {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 100%;
    input {
      width: 80%;
      margin: 0px;
      background: $primaryColor;
      border: none;
      height: 40px;
    }
    .btn {
      background: $threeColor;
      border: none;
      height: 40px;
      width: 12%;
      i::before {
        background: $threeColor;
      }
    }
  }
  #section_numbers {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
    // background: red;
    margin-bottom: 20px;
    color: $white;
    .cant {
      width: 10%; 
      // background: aqua;
      padding-left: 10px;
      p {
        margin-left: 35%;
        font-weight: bold;
        font-size: 16px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
      }
    }
    .products{
      width: 60%;
      //background: darkgreen;
    }
    .precios{
      width: 20%;
      //background: blue;
    }
  }
}